<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-cl">
      <ion-card-title>Sistema Etec</ion-card-title>
    </ion-card-header>

    <form [formGroup]="formLogin" (ngSubmit)="login()">

      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
        <ng-container *ngFor="let erro of mensagens_validacao.email">
          <span
            *ngIf="formLogin.get('email').hasError(erro.tipo) && (formLogin.get('email').dirty || formLogin.get('email').touched)"
            class="msg-erro">
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input formControlName="senha" type="password"></ion-input>
        <ng-container *ngFor="let erro of mensagens_validacao.senha">
          <span
            *ngIf="formLogin.get('senha').hasError(erro.tipo) && (formLogin.get('senha').dirty || formLogin.get('senha').touched)"
            class="msg-erro">
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>

      <br>

      <ion-button expand="block" color="primary" type="submit">LOGIN!</ion-button>
      <ion-button expand="block" fill="outline" color="primary" routerLink="/criar-conta">CRIAR CONTA</ion-button>
    </form>
  </ion-card>
</ion-content>